<div class="container w-50">
  <br>
  <div>
    <h2>検索結果</h2>
  </div>
  <!-- Content here -->
  <!-- each文を用いて繰り返し表示させる。 -->
  <% @post_contents.each do |post| %>
  <div class="jumbotron">
    <!-- 以下のpタグの中身を@post.contentを記入する -->
    <!-- 「詳細を見る」の上に「いいね」のコードを書く。 -->
    <p><%= post.contents %></p>

    <p>
      <%= link_to("/posts/#{post.id}") do %>
        <i class="fas fa-comments" style="color:blue"></i>
        この投稿のディスカッション
      <% end %>
    </p>
  </div>
  <% end %>

</div>
