
<div class="container w-50">
<br>
<h2> <i class="far fa-clipboard"></i> 自分の投稿</h2>
<br>
<!-- ユーザーと紐づけて投稿を表示させる -->
<% @posts.each do |post| %>
  <div class="jumbotron">
    <!-- 「詳細を見る」の上に「いいね」のコードを書く。 -->
    <p><%= post.contents %></p>
    <p>
      <!-- いいね数の表示 -->
    </p>
    <p>
      <!-- PV数の表示 -->
      PV数：<%=  post.impressionist_count %>
    </p>
    <p>
      <%= link_to("/posts/#{post.id}") do %>
        <i class="fas fa-comments" style="color:blue"></i>
        この投稿のディスカッション
      <% end %>
    </p>

  </div>
<% end %>
</div>
