<!-- Rubyのフォームタグをつける -->

<br>
<%= form_tag("password_update") do %>
    <!-- パスワードのフォーム -->
    <div class="input-group mb-3 w-50 p-3 center-block">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">password</span>
      </div>
      <input type="password" name="new_password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3 w-25 p-3 center-block">
      <!-- <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">送信する</span>
      </div> -->
      <input type="submit" value="変更する" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

<% end %>
