<div class="container w-50">
  <br>
  <div>
    <h2>みんなの投稿</h2>
  </div>
  <!-- Content here -->
  <!-- each文を用いて繰り返し表示させる。 -->
  <% @posts.each do |post| %>
  <div class="jumbotron">
    <!-- 以下のpタグの中身を@post.contentを記入する -->
    <!-- 「詳細を見る」の上に「いいね」のコードを書く。 -->
    <p><%= post.contents %></p>
    <br>

  </div>
  <% end %>

</div>
