<div class="container w-50">
  <br>
  <div>
    <h2> <i class="far fa-clipboard"></i> みんなの投稿</h2>
  </div>
  <br>
  <!-- Content here -->
  <!-- each文を用いて繰り返し表示させる。 -->
  <% @posts.each do |post| %>
  <div class="jumbotron">
    <!-- 以下のpタグの中身を@post.contentを記入する -->
    <!-- 「詳細を見る」の上に「いいね」のコードを書く。 -->
    <p><%= post.contents %></p>
    <br>
    <p>
      <!-- 以下をRubyファイルに移す -->
      <% if Like.find_by(user_id: @current_user.id, contents_id: post.id) %>
        <span class="fas fa-heart faa-pulse animated" style="color:red"></span>
        いいね済み
      <% else %>
        <%= link_to("/likes/#{post.id}/create", {method: "post"}) do %>
          <span class="fas fa-heart faa-pulse animated" style="color:gray"></span>
          いいねする
        <% end %>
      <% end %>
    </p>
    <p>
      <%= link_to("/posts/#{post.id}") do %>
        <i class="fas fa-comments" style="color:blue"></i>
        この投稿のディスカッション
      <% end %>
    </p>

  </div>
  <% end %>

</div>
