
<div class="container w-50">
    <!-- urlとidから表示させる投稿を考える -->
    <br>
    <div class="jumbotron">
      <h2><i class="far fa-clipboard"></i> 投稿</h2>
      <br>
      <p>投稿ID：<%= @post.id %></p>
      <%= @post.contents %>
      <!-- いいねのコードをこの下に -->
    </div>

    <div id="comments_index">
      <% @comments.each do |comment| %>
        <%= render 'comments_part', comment: comment %>
      <% end %>
    </div>
    <!-- コメント送信のためのインプットフォーム -->
    <div id="comments_form">
    <%= form_tag("/posts/#{params[:id]}",
                id: "comment_form",
                remote: true) do |f| %>
      <div class="form-group">
      <textarea
         class="form-control w-100"
         name="contents"
         id="exampleFormControlTextarea1"
         rows="3">
      </textarea>
      </div>
      <div>
        <input type="submit" value="コメントする" class="btn btn-primary mb-2">
      </div>
    <% end %>
    </div>

</div>
